@import "./imports/_normalize.scss";

@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}

$screen-size: 768px;


*{ box-sizing: border-box }


img {
   width: 100%;
   display: block;
}

#app-container{


background-color: #69A77C;

.learn-more-btn button{
   color: #FFF;
   border-radius: 5%;
   background-color: #69A77C;

}

.intro-bar{
   background-color: #FFF;
   }
.bio-container{
   padding-top: 50px;
}

.small-but-banner{
   background: url('../images/assets/solrod-team-background.jpg')center center no-repeat;
      background-size: cover;
      display: none;
@media screen and (min-width: 990px){
   display: block;}}




.employee-art-grants {
   padding: 30px;
}
.breath-of-fire {
   background: url('../images/assets/solrod-drawingboard-background.jpg')center center no-repeat;
   padding: 200px;
   }
.whimpy-btn{
   width: 80%;
   background-color: #6B819D;
   border: 1px solid #6B819D;
}

.social-container{
   background-color: #BBB;
   display:inline-block;
   width: 100%;
}

.social-images {
   display: inline-block;
}

.social-bar {
   background-color: #FFF;
   padding: 25px;
}
}
