@import "./imports/_normalize.scss";

@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}



*{ box-sizing: border-box }


img {
   width: 100%;
   display: block;
}

#app-container{


background-color: #69A77C;


.intro-bar{
   background-color: #FFF;
   }
.bio-container{
   padding-top: 50px;
}
.employee-art-grants {
   padding: 30px;
}
.breath-of-fire {
   background: url('../images/assets/solrod-drawingboard-background.jpg')center center no-repeat;
   padding: 200px;
   }
.whimpy-btn{
   width: 80%;
   background-color: #6B819D;
   border: 1px solid #6B819D;
}

.social-container{
   background-color: #BBB;
   display:inline-block;
   width: 100%;
}

.social-images {
   display: inline-block;
}

.social-bar {
   background-color: #FFF;
   padding: 25px;
}

 @media screen and (min width: 768px){


   }



}
